
.sidebar {
	padding-right: 0px;
    padding-left: 0px;
}

.sidebar-nav {
	display: flex;
	flex-flow: column nowrap;
	height: 80%;
	background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
}


.sidebar-footer {
	background-color: #343a40;
	padding: 0.75rem;
}

.sidebar-footer a, a:hover {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}


/* FORMULAIRE ===================== */


#groupe {
	/*display:none;*/
}
#user {
	/*display:none;*/
}

/* Message ERREUR - PARLSEY */
.parsley-errors-list {
	color: #dc3545;
	font-size: small;
	list-style: none;
	margin-left: -40px;
}

.parsley-error {
	border-color: #dc3545;
}

/* Form conditionnel */
.form-section {
    padding-left: 15px;
    border-left: 2px solid #EC8813;
    display: none;
}

