{% extends 'layout.twig' %}

{% block title %}
	<title>Mot de passe - Gestion EPI</title>
{% endblock %}


{% block headerpage %}
	<h1 class="mt-4">Mon Compte</h1>
	<ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Réinitialiser mon mot de passe</li>
    </ol>

	<p>Ergo ego senator inimicus, si ita vultis, homini, amicus esse, sicut semper fui, rei publicae debeo. Quid? si ipsas inimicitias, depono rei publicae causa, quis me tandem iure reprehendet, praesertim cum ego omnium meorum consiliorum atque factorum exempla semper ex summorum hominum consiliis atque factis mihi censuerim petenda.</p>

{% endblock %}


{% block sidebar %}
    {% include('sidebarImg.twig') %}
{% endblock %}


{% block content %}

    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Changer mot de passe</h2>
            <form method="post" action="addPass" data-parsley-validate>
                <div class="form-group">
                    <label for="userPass1">Nouveau Mot de passe</label>
                    <input type="password" id="userPass1" name="userPass1" class="form-control" placeholder="Choisir un mot de passe" minlength="8" maxlength="50" required>
                </div>

                <div class="form-group">
                    <label for="userPass2">Confirmer le nouveau le mot de passe</label>
                    <input type="password" id="userPass2" name="userPass2" class="form-control" placeholder="Confirmer le mot de passe" minlength="8" maxlength="50" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                      Votre mot de passe doit comporter de 8 à 20 caractères, contenir des lettres et des chiffres, et ne doit pas contenir d'espaces, de caractères spéciaux ou d'emoji.
                    </small>
                </div>
                <input type="hidden" id="userId" name="userId" value="{{ userId.getId }} ">

                <button class="btn btn-primary" type="submit">Changer Mot de passe</button>
            </form>
        </div>
    </div>

{% endblock %}



