{% extends 'layout.twig' %}

{% block title %}
	<title>Mot de passe - Gestion EPI</title>
{% endblock %}


{% block headerpage %}
	<h1 class="mt-4">Mon Compte</h1>
	<ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Réinitialiser mon mot de passe</li>
    </ol>

	<p>Ergo ego senator inimicus, si ita vultis, homini, amicus esse, sicut semper fui, rei publicae debeo. Quid? si ipsas inimicitias, depono rei publicae causa, quis me tandem iure reprehendet, praesertim cum ego omnium meorum consiliorum atque factorum exempla semper ex summorum hominum consiliis atque factis mihi censuerim petenda.</p>

{% endblock %}


{% block sidebar %}
    {% include('sidebarImg.twig') %}
{% endblock %}


{% block content %}

    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Changer mon mot de passe</h2>
            {% include('includes/form-changePass.twig') %}
        </div>
    </div>

{% endblock %}



