{% extends 'layout.twig' %}

{% block content %}
	<div class="row">

		<!-- Sidebar LARGE -->
		 <aside class="col-md-2 d-none d-md-block sidebar">
		   	
		   	{% block sidebar %}
			{% endblock %}

		</aside>

		<!-- Main Content -->
		<main class="col-12 col-md-10">

			<!-- Header Page -->
			<header class="groupeEntete">
		        <h1>{{ session.groupeName }}</h1>
		    </header>

			<!-- MESSAGE bar-->
			{% include('includes/messages.twig') %}

			<section class="container-fluid">
			  {% block main %}
			  {% endblock %}
			</section>

		</main>

	</div>
{% endblock content %}