{% extends 'layout.twig' %}

{% block content %}
	<div class="row">

		<!-- Sidebar LARGE -->
		 <aside class="col-md-4 d-none d-md-block sidebar">
		    <img src="public/img/ski-rando.jpg" alt="Groupe en ski de randonnée">
		</aside>

		<!-- Main Content -->
		<main class="col-12 col-md-8">

			<!-- Header Page -->
			{% if session.userId %}
				<header class="groupeEntete">
			        <h1>{{ session.groupeName }}</h1>
			    </header>
			{% endif %}

			<!-- MESSAGE bar-->
			{% include('includes/messages.twig') %}

			<section class="container-fluid">
			  {% block main %}
			  {% endblock %}
			</section>

		</main>

	</div>
{% endblock content %}