<header id="entete">
    <div class="pass-nature">
      <a href="https://pass-sport-nature.fr/" target="_blank" >
        <p class="pass-orange">PASS'</p>
        <p class="pass-nom">Sport Nature</p>
      </a>
    </div>

    <div id="pass-epi">
          <p class="titre">Gestion Équipements de Sports</p>
          <p>Sécurisez votre pratique sportive</p>
          <p class="pass-bleu">NEIGE - TERRE - EAU - AIR</p>
    </div>
</header>