{% extends 'layout.twig' %}

{% block title %}
	<title>Gestion EPI Pass'Sport Nature</title>
{% endblock %}


{% block headerpage %}
	<h1 class="mt-4">Bienvenue</h1>
	<ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Page d'accueil</li>
    </ol>

	<p>Ergo ego senator inimicus, si ita vultis, homini, amicus esse, sicut semper fui, rei publicae debeo. Quid? si ipsas inimicitias, depono rei publicae causa, quis me tandem iure reprehendet, praesertim cum ego omnium meorum consiliorum atque factorum exempla semper ex summorum hominum consiliis atque factis mihi censuerim petenda.</p>

    <a class="btn btn-primary" href="inscription" role="button">Créer un compte</a>

{% endblock %}


{% block sidebar %}
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
{% endblock %}


{% block content %}


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
            <h2>Se connecter !</h2>
            <form method="post" action="loginUser">
                <div class="form-group">
                    <label for="userMail">Email</label>
                    <input type="email" id="userMail" name="userMail" class="form-control" placeholder="Email address" required autofocus>
                </div>

                <div class="form-group">
                    <label for="userPass">Mot de passe</label>
                    <input type="password" id="userPass" name="userPass" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <label for="userRemember">Se souvenir de moi</label>
                    <input type="checkbox" id="userRemember" name="userRemember">
                </div>

                <button class="btn btn-primary" type="submit">Se connecter</button>

                <div class="text-center">
                  <a class="small" href="nxPass">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
        
      </div>

{% endblock %}



