{% extends 'layout.twig' %}



{% block title %}
	<title>Gestion EPI Pass'Sport Nature</title>
{% endblock %}


{% block content %}
	<h1>Page accueil</h1>

	<p>Ergo ego senator inimicus, si ita vultis, homini, amicus esse, sicut semper fui, rei publicae debeo. Quid? si ipsas inimicitias, depono rei publicae causa, quis me tandem iure reprehendet, praesertim cum ego omnium meorum consiliorum atque factorum exempla semper ex summorum hominum consiliis atque factis mihi censuerim petenda.</p>



{% endblock %}



