<!DOCTYPE html>
<html lang="fr">
  <head>

    <base href="https://epi.pass-sport-nature.fr/">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="Outil de gestion des équipements individuel de protection pour l'ensemble des sports de pleine nature : neige, terre, eau , air. Simple d'utilisation cet outil est une fonctionnalité de Pass'Sport Nature">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="vendor/datatables/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="public/css/style.css" rel="stylesheet"/>

    {% block title %}
    {% endblock %}

  </head>
  <body>
    
    {% include('header.twig') %}

    {% include('navbarTop.twig') %}
 
    <div class="container-fluid">
      
        {% block content %}
        {% endblock %}
        
    </div>

    <div id="message">Message</div>
    
    <!-- Footer -->
    <footer>
      <section>
        <strong>Copyright &copy; 2020 <a href="https://pass-sport-nature.fr/">Pass'Sport Nature</a>.</strong> Tous droits réservés.
      </section>
      <section class="float-right d-none d-sm-inline-block">
        <strong>Version</strong>> 1.0
      </section>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="vendor/components/jquery/jquery.js"></script>
    <script src="vendor/components/jquery/jquery.slim.min.js"></script>
{#     // <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> #}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    

    <script src="public/js/parsley/parsley.min.js"></script>
    <script src="public/js/parsley/fr.extra.js"></script>
    <script src="public/js/parsley/fr.js"></script>

    {% block javascript %}
    {% endblock %}
    
    <script src="public/js/message.js"></script>
    <script src="public/js/formulaire.js"></script>
    <script src="public/js/main.js"></script>

  </body>
</html>
