<nav id="navTop" class="navbar sticky-top navbar-expand-sm navbar-light bg-light">

      <div id="logo" class="pass-nature">
        <a href="https://pass-sport-nature.fr/" target="_blank" >
          <p class="pass-orange">PASS'</p>
          <p class="pass-nom">Sport Nature</p>
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          {% if session.userId %}

            <li class="nav-item">
              <a class="nav-link" href="dashboard">Tableau de bord</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  href="equipements" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Équipements</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="equipements">Liste équipements</a>
                <a class="dropdown-item" href="nxEquipt">Ajouter équipement</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  href="calendrier" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contrôles EPI</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="calendrier">Calendrier</a>
                <a class="dropdown-item" href="historique">Historique</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  href="account" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="account">Mon compte</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="deconnexion">Se déconnecter</a>
              </div>
            </li>

          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="home">Accueil</a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>


        </ul>
      </div>

</nav>