{% extends 'content-sidebar-S.twig' %}

{% block sidebar %}
    {% include('sidebarNav.twig') %}
{% endblock %}

{% block title %}
	<title>Réglementation - Gestion EPI</title>
{% endblock %}


{% block main %}

    <section class="container">
        <h2>Règlementation</h2>
        <hr>
        <p>Page en cours de réalisation... veuillez patienter !
        </p>
    </section>

{% endblock %}



