
<section class="sidebar-header">
	<i class="fas fa-user-check"></i>
	<div class="user">
	    <p>{{ session.userFirstname }}</p>
	    <p>{{ session.userStatut }}</p>
	</div>
</section>

<nav class="sidebar-nav">

  <a id="dashboard-btn"class="btn btn-primary" href="dashboard" role="button">Tableau de bord</a>
  	<a id="addUser-btn" class="btn btn-success" href="#" role="button">Ajouter Utilisateur</a>

  <a id="equip-btn" class="btn btn-primary" href="#" role="button">Équipements</a>
  	<div id="equip-btn-elt">
		<a class="btn btn-success" href="#" role="button">Ajouter</a>
		<a class="btn btn-success" href="#" role="button">Modifier</a>
		<a class="btn btn-success" href="#" role="button">Controler</a>
		<a class="btn btn-success" href="#" role="button">Imprimer</a>
	</div>

  <a id="calendar-btn" class="btn btn-primary" href="#" role="button">Calendrier</a>

  <a id="history-btn" class="btn btn-primary" href="#" role="button">Historique</a>

</nav>

