
<section class="sidebar-header">
	<i class="fas fa-user-check"></i>
	<div class="user">
	    <p>{{ session.userFirstname }}</p>
	    <p>{{ session.userStatut }}</p>
	</div>
</section>

<nav class="sidebar-nav">

  <a class="btn btn-primary" href="dashboard" role="button">Tableau de bord</a>
  <a class="btn btn-primary" href="#" role="button">Équipements</a>
  <a class="btn btn-primary" href="#" role="button">Calendrier</a>
  <a class="btn btn-primary" href="#" role="button">Historique</a>

</nav>

