 <aside class="col-md-2 d-none d-md-block sidebar sidebar-nav">

    <div class="sidebar-header">
        <p>{{ session.userFirstname }}</p>
        <p>{{ session.userStatut }}</p>
    </div>

    <nav class="sidebar-nav">
        
    </nav>

    <div class="sidebar-footer">
        <p>Logiciel proposé par :<br><a href="https://pass-sport-nature.fr/">Pass'Sport Nature</a></p>
    </div>

</aside>